<nz-breadcrumb class="breadcrumb">
    <nz-breadcrumb-item>
        <a [routerLink]="['/profile']">个人中心</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a [routerLink]="['/profile/password-edit']">密码修改</a>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<div class="content">
    <div nz-row [nzGutter]="32">
        <div nz-col [nzMd]="24">
            <nz-card [nzBordered]="false">
                <div nz-row [nzGutter]="32" style="display: flex;justify-content: center;align-items: center;">
                    <div nz-col [nzMd]="18" [nzXXl]="16">
                        <form [formGroup]="editForm" class="form-validate submit-form">
                            <div nz-row [nzGutter]="32">
                                <div nz-col [nzMd]="8">
                                    <h2>密码修改</h2>
                                    <p>密码更新成功后，您将被重定向到登录页面，您可以使用新密码登录。</p>
                                </div>
                                <div nz-col [nzMd]="8">
                                    <nz-form-item>
                                        <nz-form-label nzRequired>旧密码</nz-form-label>
                                        <nz-form-control>
                                            <input type="password"
                                                   formControlName="oldPassword"
                                                   required
                                                   nz-input
                                                   placeholder="请输入">
                                            <ng-container
                                                *ngIf="editForm.get('oldPassword').dirty && editForm.get('oldPassword').hasError('required')">
                                                旧密码不可为空
                                            </ng-container>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                        <nz-form-label nzRequired>新密码</nz-form-label>
                                        <nz-form-control>
                                            <input type="password"
                                                   formControlName="newPassword"
                                                   required
                                                   nz-input
                                                   placeholder="请输入">
                                            <ng-container
                                                *ngIf="editForm.get('newPassword').dirty && editForm.get('newPassword').hasError('required')">
                                                新密码不可为空
                                            </ng-container>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <nz-form-item>
                                        <nz-form-label nzRequired>密码确认</nz-form-label>
                                        <nz-form-control>
                                            <input type="password"
                                                   formControlName="confirm"
                                                   required
                                                   nz-input
                                                   placeholder="请输入">
                                            <ng-container
                                                *ngIf="editForm.get('confirm').dirty && editForm.get('confirm').hasError('required')">
                                                密码确认不可为空
                                            </ng-container>
                                            <ng-container
                                                *ngIf="editForm.get('confirm').hasError('confirm')">密码不一致
                                            </ng-container>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div nz-row [nzGutter]="32">
                                <div nz-col [nzSpan]="8" [nzOffset]="8">
                                    <nz-form-item>
                                        <div class="form-button">
                                            <button nz-button (click)="goBack()">返回</button>
                                            <button nz-button nzType="primary" (click)="submitForm()"
                                                    [nzLoading]="false">提交
                                            </button>
                                        </div>
                                    </nz-form-item>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</div>