<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form [formGroup]="editForm" class="form-validate submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <input type="hidden" name="version" formControlName="version"/>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>部门</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="deptTip">
                        <nz-tree-select
                            formControlName="deptCode"
                            [nzNodes]="depts"
                            [nzAllowClear]="true"
                            [nzDefaultExpandAll]="true"
                            nzShowSearch
                            nzPlaceHolder="请选择">
                        </nz-tree-select>
                        <ng-template #deptTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                部门不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>组织</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="groupTip">
                        <nz-tree-select
                            formControlName="groupCode"
                            [nzNodes]="groups"
                            [nzAllowClear]="true"
                            [nzDefaultExpandAll]="true"
                            nzShowSearch
                            nzPlaceHolder="请选择">
                        </nz-tree-select>
                        <ng-template #groupTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                组织不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>账号</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="accountTip">
                        <input type="text"
                               name="account"
                               formControlName="account"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #accountTip let-control>
                            <ng-template #accountTip let-control>
                                <ng-container *ngIf="control.dirty && control.hasError('required')">
                                    账号必填
                                </ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">账号长度不能大于50</ng-container>
                                <ng-container *ngIf="control.hasError('minlength')">账号长度不能小于3</ng-container>
                                <ng-container *ngIf="control.hasError('existing')">账号已存在</ng-container>
                            </ng-template>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>姓名</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="nameTip">
                        <input type="text"
                               name="name"
                               formControlName="name"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #nameTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                姓名不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>性别</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="genderTip">
                        <nz-select formControlName="gender" nzPlaceHolder="请选择" nzAllowClear>
                            <nz-option *ngFor="let opt of genders" [nzValue]="opt.code"
                                       [nzLabel]="opt.name"></nz-option>
                            <!-- 加载中动画，根据需要添加 -->
                            <!--<nz-option *ngIf="isLoading" nzDisabled nzCustomContent>-->
                            <!--<i nz-icon type="loading" class="loading-icon"></i> Loading Data...-->
                            <!--</nz-option>-->
                        </nz-select>
                        <!--<input type="text"-->
                        <!--name="gender"-->
                        <!--formControlName="gender"-->
                        <!--required-->
                        <!--nz-input-->
                        <!--placeholder="请输入">-->
                        <ng-template #genderTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                性别不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>手机</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="mobileTip">
                        <input type="text"
                               name="mobile"
                               formControlName="mobile"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #mobileTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                手机不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>邮箱</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="emailTip">
                        <input type="text"
                               name="email"
                               formControlName="email"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #emailTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                邮箱不可为空
                            </ng-container>
                            <ng-container *ngIf="control.dirty && control.hasError('email')">
                                邮箱格式有误
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>头像</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="photoTip">
                        <input type="text"
                               name="photo"
                               formControlName="photo"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #photoTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                头像不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="statusTip">
                        <nz-radio-group formControlName="status">
                            <label nz-radio [nzValue]="1">启用</label>
                            <label nz-radio [nzValue]="0">禁用</label>
                        </nz-radio-group>
                        <ng-template #statusTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                状态不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label formGroupName="userRoles" [nzSm]="6" [nzXs]="24">角色</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-select [(ngModel)]="selectedRoles" [ngModelOptions]="{standalone: true}" nzPlaceHolder="请选择"
                                   nzMode="multiple" nzAllowClear>
                            <nz-option *ngFor="let opt of roles" [nzValue]="opt.code" [nzLabel]="opt.name"></nz-option>
                            <!-- 加载中动画，根据需要添加 -->
                            <!--<nz-option *ngIf="isLoading" nzDisabled nzCustomContent>-->
                            <!--<i nz-icon type="loading" class="loading-icon"></i> Loading Data...-->
                            <!--</nz-option>-->
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">备注</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="remarkTip">
                        <textarea name="remark" formControlName="remark" nz-input
                                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                        <ng-template #remarkTip let-control>
                            <ng-container *ngIf="control.hasError('maxlength')">最多250个字符</ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <div class="form-button">
                        <button nz-button (click)="goBack()">返回</button>
                        <button nz-button nzType="primary" (click)="submitForm()" [nzLoading]="false">提交</button>
                    </div>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>
