<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form [formGroup]="editForm" class="form-validate submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <input type="hidden" name="version" formControlName="version"/>
                <input type="hidden" name="remark" formControlName="remark"/>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>承租单位</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="rentRenterTip">
                        <nz-select [(ngModel)]="selectRentRenter" [ngModelOptions]="{standalone: true}"
                                   nzPlaceHolder="请选择" nzAllowClear>
                            <nz-option *ngFor="let opt of rentRenters" [nzValue]="opt.id"
                                       [nzLabel]="opt.name"></nz-option>
                        </nz-select>
                        <ng-template #rentRenterTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                承租单位不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">施工地</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               formControlName="location"
                               nz-input
                               placeholder="请输入">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>业务员</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="contactsTip">
                        <input type="text"
                               formControlName="contacts"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-template #contactsTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                业务员不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>签订日期</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="signDateTip">
                        <nz-date-picker formControlName="signDate" [nzFormat]="dateFormat"></nz-date-picker>
                        <ng-template #signDateTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                签订日期不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>计算方式</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="computeModeTip">
                        <nz-radio-group formControlName="computeMode">
                            <label nz-radio [nzValue]="0">算头又算尾</label>
                            <label nz-radio [nzValue]="1">算头不算尾</label>
                        </nz-radio-group>
                        <ng-template #computeModeTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                计算方式不可为空
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>类别品名</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="rentCategoryIdsTip">
                        <input type="hidden" name="rentContractCategories" formControlName="rentContractCategories"/>
                        <nz-table
                            [ngClass]="{'ng-invalid': editForm.get('rentContractCategories').dirty
                             && editForm.get('rentContractCategories').hasError('required')}"
                            [nzSize]="'small'"
                            [nzShowPagination]="false"
                            [nzData]="rentCategories">
                            <thead>
                            <tr>
                                <th [nzChecked]="selectedCategories.size == rentCategories.length"
                                    [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="onAllChecked($event)"></th>
                                <th>品名</th>
                                <th>日租金</th>
                                <th>计量单位</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of rentCategories">
                                <td [nzChecked]="selectedCategories.has(data.id)"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td>{{data.name}}</td>
                                <td>{{data.dailyRent}}元</td>
                                <td>
                                    <span *ngIf="data.unit == global.UNIT_GEN">元/根</span>
                                    <span *ngIf="data.unit == global.UNIT_MI">元/米</span>
                                    <span *ngIf="data.unit == global.UNIT_GE">元/个</span>
                                    <span *ngIf="data.unit == global.UNIT_TIAO">元/条</span>
                                </td>
                            </tr>
                            </tbody>
                        </nz-table>
                        <ng-template #rentCategoryIdsTip let-control>
                            <ng-container *ngIf="control.dirty && control.hasError('required')">
                                请至少勾选一个类别品名
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>
