<div class="login-page-wapper">
    <div>
        <nz-card [nzTitle]="nzTitle" [nzBordered]="false" class="ant-card__primary ant-card__title-img">
            <ng-template #nzTitle>
                <!--<div class="text-center"><img src="./assets/img/logo.svg" style="height:20px;"></div>-->
                <div class="text-center"><p>Welcome to the Thirteen Framework</p></div>
            </ng-template>
            <div class="login-form">
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" role="form">
                    <nz-form-item class="login-form-item">
                        <nz-form-control [nzErrorTip]="accountTip">
                            <nz-input-group [nzPrefixIcon]="'user'">
                                <input nz-input formControlName="account" placeholder="账号" [nzSize]="'large'"
                                       (keyup)="onkeyupBreak()">
                            </nz-input-group>
                            <ng-template #accountTip let-control>
                                <ng-container *ngIf="control.hasError('maxlength')">账号长度不能大于50</ng-container>
                                <ng-container *ngIf="control.hasError('minlength')">账号长度不能小于3</ng-container>
                                <ng-container *ngIf="control.dirty && control.hasError('required')">
                                    账号必填
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="login-form-item">
                        <nz-form-control [nzErrorTip]="passwordTip">
                            <nz-input-group nzPrefixIcon="lock">
                                <input nz-input formControlName="password" placeHolder="密码" type="password"
                                       [nzSize]="'large'" (keyup)="onkeyupBreak()">
                            </nz-input-group>
                            <ng-template #passwordTip let-control>
                                <ng-container *ngIf="control.dirty && control.hasError('required')">
                                    密码必填
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <div nz-form-item nz-row class="login-form-item">
                        <div nz-col [nzSpan]="12">
                            <label nz-checkbox formControlName="rememberMe">
                                <span>记住密码</span>
                            </label>
                        </div>
                        <div nz-col [nzSpan]="12" class="text-right">
                            <a [routerLink]="['/forget']">忘记密码？</a>
                        </div>
                    </div>
                    <div nz-form-item nz-row class="login-form-item">
                        <div>
                            <button nz-button [disabled]="!validateForm.valid" [nzType]="'primary'" [nzSize]="'large'"
                                    [nzLoading]="loading" class="login-form-button">
                                <span>登录</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </nz-card>
    </div>
</div>
