<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form nz-form [formGroup]="editForm" class="submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <!--<nz-form-item>-->
                    <!--<nz-form-label [nzSm]="6" [nzXs]="24">应用</nz-form-label>-->
                    <!--<nz-form-control [nzSm]="14" [nzXs]="24">-->
                        <!--<input type="text"-->
                               <!--name="applicationId"-->
                               <!--formControlName="applicationId"-->
                               <!--nz-input>-->
                    <!--</nz-form-control>-->
                <!--</nz-form-item>-->
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">来源路径</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="requestPath"
                               formControlName="requestPath"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">操作名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="operationValue"
                               formControlName="operationValue"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">操作描述</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="operationNotes"
                               formControlName="operationNotes"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">方法</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="method"
                               formControlName="method"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" >参数</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <textarea name="arguments" formControlName="arguments" nz-input [nzAutosize]="{ minRows: 2, maxRows: 10 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" >结果</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <textarea name="result" formControlName="result" nz-input [nzAutosize]="{ minRows: 2, maxRows: 10 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="status"
                               formControlName="status"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">开始时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="startTime"
                               formControlName="startTime"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">结束时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="endTime"
                               formControlName="endTime"
                               nz-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" >信息</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <textarea name="message" formControlName="message" nz-input [nzAutosize]="{ minRows: 2, maxRows: 10 }"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>