<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form class="search-form">
                <div nz-row [nzGutter]="32">
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>类别品名</nz-form-label>
                            <nz-form-control>
                                <nz-select [(ngModel)]="params.categoryId" [ngModelOptions]="{standalone: true}"
                                           nzPlaceHolder="请选择" nzAllowClear>
                                    <nz-option *ngFor="let opt of rentCategories" [nzValue]="opt.id"
                                               [nzLabel]="opt.name"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <nz-form-item class="form-item">
                            <nz-form-label>规格名称</nz-form-label>
                            <nz-form-control>
                                <input id="name" name="name" nz-input placeholder="请输入" [(ngModel)]="params.name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzMd]="8">
                        <div class="form-button">
                            <button nz-button nzType="primary" (click)="findAllByParam()" [nzLoading]="false">
                                查询
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary"
                        (click)="openModel(global.INSERT_FLAG, '新增物品规格信息')">
                    <i nz-icon [nzType]="'plus'" [nzTheme]="'outline'"></i>新增
                </button>
            </div>
            <nz-table
                #rowSelectionTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="tableData"
                [nzLoading]="loading"
                [nzTotal]="total"
                [(nzPageIndex)]="pageNum"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="findAllByParam()"
                (nzPageSizeChange)="findAllByParam()">
                <thead>
                <tr>
                    <th>类别品名</th>
                    <th nzShowSort [(nzSortOrder)]="sortMap.name" (nzSortChange)="sort('name', $event)">规格名称</th>
                    <th nzShowSort [(nzSortOrder)]="sortMap.unit" (nzSortChange)="sort('name', $event)">换算单位</th>
                    <th nzShowSort [(nzSortOrder)]="sortMap.quantity" (nzSortChange)="sort('name', $event)">换算数量</th>
                    <th nzShowSort [(nzSortOrder)]="sortMap.createTime" (nzSortChange)="sort('createTime', $event)">
                        <span>添加时间</span>
                    </th>
                    <th nzShowSort [(nzSortOrder)]="sortMap.updateTime" (nzSortChange)="sort('updateTime', $event)">
                        <span>修改时间</span>
                    </th>
                    <th><span>备注</span></th>
                    <th *ngIf="perms.update || perms.delete"><span>操作</span></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of tableData">
                    <td>{{rentCategoryMap[data.categoryId]}}</td>
                    <td>{{data.name}}</td>
                    <td>
                        <span *ngIf="data.unit == global.UNIT_GEN">元/根</span>
                        <span *ngIf="data.unit == global.UNIT_MI">元/米</span>
                        <span *ngIf="data.unit == global.UNIT_GE">元/个</span>
                        <span *ngIf="data.unit == global.UNIT_TIAO">元/条</span>
                    </td>
                    <td>{{data.quantity}}</td>
                    <td>{{data.createTime}}</td>
                    <td>{{data.updateTime}}</td>
                    <td>{{data.remark}}</td>
                    <td *ngIf="perms.update || perms.delete">
                        <a *ngIf="perms.update" (click)="openModel(data.id, '修改物品规格信息')">修改</a>
                        <nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>
                        <a *ngIf="perms.delete"
                           nz-popconfirm
                           [nzPopconfirmTitle]="global.DELETE_CONFIRM_MSG"
                           (nzOnConfirm)="confirmDelete(data.id)"
                           (nzOnCancel)="cancelDelete()"
                           nzPopconfirmPlacement="topRight">删除</a>
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
