<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <form nz-form [formGroup]="editForm" class="submit-form">
                <input type="hidden" name="id" formControlName="id"/>
                <input type="hidden" name="version" formControlName="version"/>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>编码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="code"
                               formControlName="code"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-container
                            *ngIf="editForm.get('code').dirty && editForm.get('code').hasError('required')">编码不可为空
                        </ng-container>
                        <ng-container *ngIf="editForm.get('code').hasError('minlength')">编码长度最少为3个字符
                        </ng-container>
                        <ng-container *ngIf="editForm.get('code').hasError('maxlength')">编码长度最多为20个字符
                        </ng-container>
                        <ng-container *ngIf="editForm.get('code').hasError('existing')">编码已存在</ng-container>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text"
                               name="name"
                               formControlName="name"
                               required
                               nz-input
                               placeholder="请输入">
                        <ng-container
                            *ngIf="editForm.get('name').dirty && editForm.get('name').hasError('required')">名称不可为空
                        </ng-container>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group formControlName="active">
                            <label nz-radio nzValue="1">启用</label>
                            <label nz-radio nzValue="0">禁用</label>
                        </nz-radio-group>
                        <ng-container
                            *ngIf="editForm.get('active').dirty && editForm.get('active').hasError('required')">状态不可为空
                        </ng-container>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">备注</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <textarea name="remark" formControlName="remark" nz-input
                                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                        <ng-container *ngIf="editForm.get('remark').hasError('maxlength')">最多250个字符</ng-container>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-card>
    </div>
</div>