<nz-layout class="layout-fixed">
    <app-header [userBlockBtnVisible]="true"></app-header>
    <nz-layout class="wrapper">
        <nz-sider class="aside" nzCollapsible [(nzCollapsed)]="layoutConfig.collapsed" [nzTrigger]="null">
            <app-sidebar
                [config]="layoutConfig"
                [data]="layoutData"></app-sidebar>
        </nz-sider>
        <nz-content class="content-wrapper" [ngClass]="{'collapsed': layoutConfig.collapsed}">
            <nz-breadcrumb #breadcrumb class="breadcrumb" [nzAutoGenerate]="true"></nz-breadcrumb>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
    <app-footer class="footer"></app-footer>
</nz-layout>
