<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <div class="button-group">
                <button *ngIf="perms.save" nz-button nzType="primary" (click)="openModel(global.INSERT_FLAG, '新增应用信息')">
                    <i nz-icon [nzType]="'plus'" [nzTheme]="'outline'"></i>新增
                </button>
            </div>
            <nz-spin [nzSpinning]="loading">
                <app-tree-table
                    [config]="config"
                    [columns]="columns"
                    [data]="data"
                    [loading]="loading">
                </app-tree-table>
            </nz-spin>
        </nz-card>
    </div>
</div>
<!-- START row-->
<ng-template #rowType let-row>
    <span *ngIf="row?.type === global.APPLICATION_SERVICE">应用服务</span>
    <span *ngIf="row?.type === global.APPLICATION_INTERFACE">应用接口</span>
    <span *ngIf="row?.type === global.APPLICATION_MENU">应用菜单</span>
    <span *ngIf="row?.type === global.APPLICATION_HEADING">应用菜单组</span>
</ng-template>
<!-- END row-->
<!-- START row-->
<ng-template #rowIcon let-row>
    <i nz-icon [nzType]="row?.icon" [nzTheme]="'outline'"></i>
</ng-template>
<!-- END row-->
<!-- START row-->
<ng-template #rowAction let-row>
    <a *ngIf="perms.update" style="text-decoration: none;" title="修改" (click)="openModel(row.id, '修改应用信息')">修改<span
        class="fa fa-fw fa-edit"></span></a>
    <nz-divider *ngIf="perms.update && perms.delete" nzType="vertical"></nz-divider>
    <a *ngIf="perms.delete"
       style="text-decoration: none;"
       title="删除"
       nz-popconfirm
       [nzPopconfirmTitle]="global.DELETE_CONFIRM_MSG"
       (nzOnConfirm)="confirmDelete(row?.id)"
       (nzOnCancel)="cancelDelete()"
       nzPopconfirmPlacement="topRight">
        删除<span class="fa fa-fw fa-trash-o"></span>
    </a>
</ng-template>
<!-- END row-->
