<div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="24">
        <nz-card [nzBordered]="false">
            <nz-descriptions nzTitle="合同信息">
                <nz-descriptions-item nzTitle="承租单位名称">
                    <a nz-popover
                       [nzPopoverTitle]="'承租单位信息'"
                       [nzPopoverTrigger]="'click'"
                       [nzPopoverPlacement]="'rightTop'"
                       [nzPopoverContent]="renterTemplate">
                        {{rentContract?.rentRenter?.name}}
                    </a>
                    <ng-template #renterTemplate>
                        <p>承租单位名称：{{rentContract?.rentRenter?.name}}</p>
                        <p>承租单位地址：{{rentContract?.rentRenter?.location}}</p>
                        <p>联系人：{{rentContract?.rentRenter?.contacts}}</p>
                        <p>联系电话：{{rentContract?.rentRenter?.mobile}}</p>
                    </ng-template>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="施工地">{{rentContract?.location}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="业务员">{{rentContract?.contacts}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="签订日期">{{rentContract?.signDate}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="已租天数">{{rentalDays}}天</nz-descriptions-item>
                <nz-descriptions-item nzTitle="计算方式">
                    <span *ngIf="rentContract?.computeMode == global.COMPUTE_MODE_ALL">算头又算尾</span>
                    <span *ngIf="rentContract?.computeMode == global.COMPUTE_MODE_START">算头不算尾</span>
                </nz-descriptions-item>
            </nz-descriptions>
            <nz-divider></nz-divider>
            <nz-table
                    [nzSize]="'small'"
                    [nzShowPagination]="false"
                    [nzData]="rentSpecs">
                <thead>
                <tr>
                    <th>品名</th>
                    <th>规格</th>
                    <th>单位日租金</th>
                    <th>计量单位</th>
                    <th>出库数量</th>
                    <th>入库数量</th>
                    <th>租金</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of rentSpecs">
                    <td>{{rentCategoryMap[data.categoryId]?.name}}</td>
                    <td>{{data.name}}</td>
                    <td>{{rentCategoryMap[data.categoryId]?.dailyRent}}元</td>
                    <td>
                        <span *ngIf="rentCategoryMap[data.categoryId]?.unit == global.UNIT_GEN">元/根</span>
                        <span *ngIf="rentCategoryMap[data.categoryId]?.unit == global.UNIT_MI">元/米</span>
                        <span *ngIf="rentCategoryMap[data.categoryId]?.unit == global.UNIT_GE">元/个</span>
                        <span *ngIf="rentCategoryMap[data.categoryId]?.unit == global.UNIT_TIAO">元/条</span>
                    </td>
                    <td>{{data.outNum}}</td>
                    <td>{{data.inNum}}</td>
                    <td>{{mul(data.outNum * rentalDays, rentCategoryMap[data.categoryId]?.dailyRent)}}元</td>
                </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </div>
</div>
